.container {
  display: grid;
  background-color:#000;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
  width: 800px;
  border: 10px solid #555;
}

.container-chess-white > div:nth-child(odd) {
  background-color: #ccc;
  color: black;
}

.container-chess-black > div:nth-child(even) {
  background-color: #ccc;
  color: black;
}

.container-col {
  background-color: sandybrown;
  color: #000000;
  font-size: 50px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
}

.torre-preta {
  color: #000;
}

.torre-branca {
  color: #000;
}